html {
  background: url('ChefRoastHeader.jpg') no-repeat center top;
}

body {
  background: url('ChefRoastLowerHeader.jpg') no-repeat center bottom;
  min-height: 768px;
  margin-top: 315px;
}

#products {
  margin-bottom: 100px;
}

#product {
  margin: 5px;
}

.thumbnail p{
  min-height: 62px;
  max-height: 62px;
  overflow: hidden;
}

.thumbnail small{
  border: 1px solid transparent;
}

.field_with_errors{
  input, textarea{ border: 1px solid red; }
}

.navbar{
  max-width: 1600px !important;
  margin-left: auto;
  margin-right: auto;
}

p.lead{
  text-align: justify;
}
