html {
  background: url('http://res.cloudinary.com/chefroast/image/upload/v1371310705/ChefRoastHeader_dqzzos.jpg') no-repeat center top;
}

body {
  background: url('http://res.cloudinary.com/chefroast/image/upload/v1371310718/ChefRoastFooter_pot9ky.jpg') no-repeat center bottom;
  min-height: 768px;
  margin-top: 194px;
}

#products {
  margin-bottom: 100px;
}

#product {
  margin: 6px;
}

.thumbnail p{
  min-height: 62px;
  max-height: 62px;
  overflow: hidden;
}

.thumbnail small{
  border: 1px solid transparent;
}

.field_with_errors{
  input, textarea{ border: 1px solid red; }
}

.navbar{
  max-width: 1024px !important;
  margin-left: auto;
  margin-right: auto;
}

p.lead{
  text-align: justify;
}
